/*Styling for the body of the pages including background image  */
body{
    background-image:url("../media/Background.jpg");
	background-color:black;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
	font-family:Arial;
	font-size:18px;
	color:lightgray;
}

/* Main wrapper for the entire page */
#wrapper{
	background-color:black;
	width:980px;
	margin:auto;
}

/* Styling for the header which appears on every page */
#header{
	float:left;
	width:980px;
	background-color:#76715E;
}

/****************** Stylings for navigation bar and buttons ******************/
/****************** Stylings for navigation bar and buttons ******************/
#nav{
	float:right;
	width:960px;
	height:30px;
	background-color:#08161F;
	margin:10px;
}

#buttons{
	float:center;
	margin:1px auto;
	width:956px;
}

.btn{
	float:left;
	width:314px;
	height:24px;
	text-decoration:none;
	text-align:center;
	line-height:24px;
	font-size:18px;
	color:#08161F;	
	background-color:#FAD384;
	margin:2px;
	text-shadow:1px 1px 3px black;	
}

.btn:hover{
	float:left;
	width:316px;
	height:26px;
	text-decoration:underline;
	text-align:center;
	line-height:30px;
	font-size:18px;
	color:#FAD384;	
	background-color:#08161F;
	margin:1px;
	text-shadow:1px 1px 3px black;	
}
/******************* End stylings for navigation bar and buttons *******************/
/******************* End stylings for navigation bar and buttons *******************/

/* Container holding the main content of the page including titles */
#container {
	float:left;
	width:980px;
	margin:10px 0px 10px 0px;
}

/* Main title styling */
.titleMain {
	width:940px;
	
	font-size:44px;
	color:#FAD384;
	background-color:#0B2333;
	margin:auto;
	text-align:center;
	text-shadow:1px 1px 5px black;
}

/* Holding all the content for the page less main title */
#main-content {
	float:left;
	width:700px;
	margin-top:15px;
	margin-left:20px;
	padding:10px;
	background-color:#0B2333;
	border:1px solid black;
}


/*******************	Start Article Stylings	******************/
/*******************	Start Article Stylings	******************/
/* Div containing data for each individual game */
#article-wrapper {
	float:left;
	width:700px;
	margin-bottom:20px;
	border-bottom:1px dotted #38B1FF;
	padding-bottom:20px;
}

/* Styling for the titles inside the article wrapper */
.titleArticle {
	float:left;
	text-align: center;
	width:100%;
	height: 40px;
	text-decoration:underline;
	font-size:36px;
	color:#FAD384;
	margin-left:40px;
	text-shadow:1px 1px 5px black;
}

/* Styling for the descriptions displayed in the articles */
.descriptionArticle{
	float:left;
	width:100%;
	width: 700px;
	font-size:18px;
	color:white;
	padding: 10px;
}
/* Styling for the images inside the article wrappers only */
#article-wrapper img {
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	border:2px solid #FF7F27;
}
/*Wrapper to hold scores and link sorting options */
#scores-wrapper{
	float:left;
	width:100%;
	width: 300px;
	min-height:250px;
	margin-left:10px;
	margin-bottom:10px; 
}

/* Styling for the scores displayed inside the article wrappers on the home page */
#numbers {
	float:left;
	font-size:18px;
	text-align: left;
	width: 50px;
	color: #FF7F27;
}
#mainScores {
	float:left;
	font-size:18px;
	text-align: left;
	width:100px;
	color: #FF7F27;
	margin-top:3px;
}
#mainUsers{
	float:left;
	font-size:18px;
	text-align: left;
	width: 125px;
	color: #FF7F27;
	margin-top:3px;
}

/*Styling for the links to sort data */
.sortLinks{
	float:left;
	color: white;
}
.sortLinks a:link {
	color:white;
	text-decoration:underline;
}
.sortLinks a:active {
	color:white;
	text-decoration:underline;
}
.sortLinks a:visited {
	color:white;
	text-decoration:underline;
}
/* Styling for the "play" button */
.play{
	float:right;
	width:120px;
	height:150px;
	background-image:url("../media/playButton.png");
	background-repeat:no-repeat;
	margin-right:10px;
	text-shadow:1px 1px 3px black;	
    margin-top: 80px;
}
/*******************    Styling for tabs    *******************/
.tabs {
  position: relative;   
  min-height: 270px; 
  clear: both;
  margin: 0px 0;
}
.tab {
  float: left;
  color: #FAD384;
   background: #0B2333;
}
.tab label {
  background: #0B2333; 
  padding: 10px; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  width: 280px;
  top: 28px;
  left: 0;
  background: #0B2333;
  right: 0;
  bottom: 0;
  padding: 5px;
  border: 1px solid #0B2333; 
}
[type=radio]:checked ~ label {
  background: lightslategrey;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  background: #0B2333;
  z-index: 1;
}
/*******************    End Styling for tabs    *******************/

/*******************	End Article Stylings	******************/
/*******************	End Article Stylings 	******************/


/* Holds all the advertisement images */
#sidebar {
	float:right;
	width:200px;
	margin-top:15px;
	margin-right:20px;
	background-color:black;
}
.sponsors{
	text-align: center;
	width:100%;
	text-decoration:underline;
	margin-left:40px;
	font-size:12px;
	color:#FAD384;
	text-shadow:1px 1px 5px black;
}
.ads{
	margin-bottom:20px;
}

/******************* Aditional stylings for profile page ******************/
/******************* Aditional stylings for profile page ******************/
//#profilePic{
	//float:right;
	//width: 250px;
	//height: 300px;
	//margin-left:10px;
	//margin-right:10px;
	//border:2px solid white;
	//padding: 10px;
//}
#editButton{
	float:right;
	margin-right:10px;
	margin-top: 10px;
}
#biography{
	//float:left;
	width: 420px;
	min-height: 400px;
	font-size: 20px;
	word-wrap: normal;
	color:lightgray;
	margin-left:160px;
	margin-right:10px;
	//border:2px solid white;
	padding: 10px;
}
.underlinedCenter{
	text-decoration:underline;
	text-align:center;
}
#scoresWrapper{
    border-top:2px dashed black;
	float:right;
	text-align: left;
	width: 654px;
	font-size:26px;
	color:lightgray;
	margin-left:30px;
	margin-right:10px;
	//border:2px solid white;
	padding: 10px;
}
#profileTitle{
    float:right;
	text-align: center;
	width: 634px;
	font-size:30px;
	color:white;
	margin-left:30px;
	margin-right:10px;
}
#profileScores{
    margin-left:150px;
	float:left;
	text-align: left;
	width: 215px;
}
#profileGames{
	float:left;
	text-align: left;
	width: 230px;
}
/******************* End additional stylings for profile page ******************/
/******************* End additional stylings for profile page ******************/


/******************* Stylings for edit profile page ******************/
/******************* Stylings for edit profile page ******************/
#editBio{
	height:200px;
	width: 300px;
	word-wrap: break-word;
    font-size:12pt;
}
#editEmail{
	height:20px;
	width: 300px;
    font-size:12pt;
}
/******************* End stylings for edit profile page ******************/
/******************* End stylings for edit profile page ******************/


/******************* Footer styling and footer button stylings ******************/
/******************* Footer styling and footer button stylings ******************/
#footer{
	background-color:#76715E;
	clear:both;
	width:980px;
	height:30px;
	font-size:10px;
}

.lefty{
	float:left;
	color: #FAD384;
	margin-left:5px;
}

.righty{
	float:right;
	color: #FAD384;
	margin-right:5px;
}

.righty a:link {
color:#FAD384;
text-decoration:none;
}
			
.righty a:visited {
color:#FAD384;
text-decoration:none;
}
			
.righty a:hover {
color:#08161F;
text-decoration:underline;
}
			
.righty a:active {
color:#FAD384;
text-decoration:none;
}
/******************* End footer styling and footer button stylings ******************/
/******************* End footer styling and footer button stylings ******************/